<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理员列表页</title>
		<link rel="stylesheet" href="<{$Think.ADMIN_STATIC_URL}>plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="<{$Think.ADMIN_STATIC_URL}>css/global.css" media="all">
		<link rel="stylesheet" type="text/css" href="<{$Think.ADMIN_STATIC_URL}>css/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="<{$Think.ADMIN_STATIC_URL}>css/table.css" />
		<script type="text/javascript">
			var ADMIN_STATIC_URL = "<{$Think.ADMIN_STATIC_URL}>";
		</script>
	</head>
	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small form" data-url="<{:url('add')}>" data-title="添加管理员" id="add">
					<i class="layui-icon">&#xe608;</i> 添加管理员
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" id="delSelect">
					<i class="layui-icon">&#xe640;</i> 删除选中
				</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>管理员列表</legend>
				<div class="layui-field-box">
					<form action="<{:url('delSelect')}>" method="post" id="delSelectForm">
						<table class="site-table table-hover">
							<thead>
								<tr>
									<th><input type="checkbox" id="selected-all"></th>
									<th>用户名</th>
									<th>昵称</th>
									<th>头像</th>
									<th>注册时间</th>
									<th>最后登录时间</th>
									<th>最后登录IP</th>
									<th>登录次数</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" id="admin">
								<tr>
									<td><input type="checkbox" value="<{$admin.a_id}>" name="id[]"></td>
									<td><{$admin.user_name}></td>
									<td><{$admin.nickname}></td>
									<td>
										<notempty name="$admin.avatar">
											<img src="<{$Think.UPLOAD_PATH}><{$admin.avatar}>" alt="头像">
										<else />
											无
										</notempty>
									</td>
									<td><{$admin.register_time|time_formate}></td>
									<td><{$admin.last_login_time|time_formate}></td>
									<td><{$admin.last_login_ip}></td>
									<td><{$admin.login_count}></td>
									<td><{$admin.status | status_icon }></td>
									<td>
										<a href="javascript:;" data-url="<{:url('edit',array('id'=>$admin['a_id']))}>" data-title="编辑管理员" class="layui-btn layui-btn-mini form">编辑</a>
										<a href="javascript:;" data-url="<{:url('del',array('id'=>$admin['a_id'],'page'=>$Think.get.page))}>"  class="layui-btn layui-btn-danger layui-btn-mini del">删除</a>
									</td>
								</tr>
								</volist>
							</tbody>
						</table>
					</form>
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div class="pagination"><{$page}></div>
			</div>
		</div>
		
		<script type="text/javascript" src="<{$Think.ADMIN_STATIC_URL}>plugins/layui/layui.js"></script>
		<script type="text/javascript" src="<{$Think.ADMIN_STATIC_URL}>js/page.common.js"></script>
		
	</body>

</html>