<layout name="../application/home/layout/layout.html"/>
<body class="single">
<div id="divAll">
    <div id="divPage">
    <div id="divMiddle">

        <!-- 导航菜单 -->
        <include file="../application/home/view/public_navmenu.html" />
        <div id="divMain">

            <ul  class="msg msghead">
                <li class="tbname">留言列表:</li>
            </ul>
            <volist name="commentList" id="item">
                <ul class="msg" id="cmt<{$item.c_id}>">
                    <li class="msgname">
                        <img class="avatar" src="/static/home/images/default_user_avatar.png" alt="" width="32"/>&nbsp;
                        <span class="commentname">
                            <a href="javascript:void(0)" rel="nofollow" target="_blank">
                                <{$item.nick_name}>
                                <gt name="item.rev_cid" value="0">
                                   @&nbsp;<{$item.rev_nick_name}>     
                                </gt>  
                            </a>
                        </span><br/>
                        <small>
                            &nbsp;发布于&nbsp;<{$item.create_time}>&nbsp;&nbsp;
                            <span class="revertcomment">
                                <a href="#comment" onclick="RevertComment(<{$item.c_id}>)">回复该留言</a>
                            </span>
                        </small>
                    </li>
                    <li class="msgarticle"><{$item.content}></li>
                </ul>
            </volist>
            <div class="pagination"><{$page}></div>   
            <div class="post" id="divCommentPost">
                <p class="posttop">
                    <a name="comment">发表留言:</a>
                    <small><a rel="nofollow" id="cancel-reply" href="#divCommentPost" style="display:none;">取消回复</a></small>
                </p>
                <form id="frmSumbit" target="_self" method="post" action="<{:url('index/post')}>" >
                <input type="hidden" id="inpRevID" value="0">
                <p>
                    <input type="text" name="nick_name" id="inpName" class="text" value="" size="28" tabindex="1" /> 
                    <label for="inpName">昵称（必填）</label>
                </p>
                <p><input type="text" name="verify" id="inpVerify" class="text" value="" size="28" tabindex="4" /> <label for="inpVerify">验证（必填）</label> 
                <{:captcha_img()}>
                </p>
                <p><label for="txaArticle">正文（必填）(留言最长字数:1000)</label></p>
                <p><textarea name="content" id="txaArticle"  class="text" cols="50" rows="4" tabindex="5" ></textarea></p>
                <p><input name="btnSumbit" type="submit" tabindex="6" value="提交" onclick="JavaScript:return VerifyMessage()" class="button" /> 
                <input type="checkbox" name="chkRemember" value="1" id="chkRemember" /> 
                <label for="chkRemember">记住我,下次回复时不用重新输入个人信息</label></p>
                </form>
                <p class="postbottom">◎欢迎参与讨论，请在这里发表您的看法、交流您的观点。</p>
                <script language="JavaScript" type="text/javascript">LoadRememberInfo();</script>
            </div>  
        </div>
       
        <div id="divSidebar">

        <dl class="function" id="divComments">
            <dt class="function_t">文章列表</dt>
            <dd class="function_c">
                <ul>
                    <volist name="articleList" id="item">
                        <li style="text-overflow:ellipsis;">
                        <a href="<{:url('index/article',array('id'=>$item['a_id']))}>" title="<{$item.title}>"><{$item.title|mb_substr=0,20,'utf-8'}></a></li>
                    </volist>
                </ul>
            </dd>
        </dl>

        <!-- 最新留言 -->
        <{:widget('Comment/lastCommentList')}>

        </div>
      