<layout name="../application/home/layout/layout.html"/>
<body class="single">
<div id="divAll">
	<div id="divPage">
	<div id="divMiddle">

		<!-- 导航菜单 -->
		<include file="../application/home/view/public_navmenu.html" />

		<div id="divMain">
            <div class="post single-post cate2 auth1">
            	<div class="post-nav">
            		<notempty name="preInfo">
            			<a class="l" href="<{:url('index/article',array('id'=>$preInfo['a_id']))}>" title="<{$preInfo.title}>">« 上一篇</a>
            		</notempty>
            		<notempty name="nextInfo">
            			<a class="r" href="<{:url('index/article',array('id'=>$nextInfo['a_id']))}>" title="<{$nextInfo.title}>">下一篇 »</a>
            		</notempty>
            	</div>
            	<h4 class="post-date"><{$info.create_time}></h4>
            	<h2 class="post-title"><{$info.title}></h2>
            	<div class="post-body"><{$info.content}></div>
            	<h5 class="post-tags">Tags: 
            		<span class="tags">
            			<volist name="info.tags" id="tag" key="id">
            				<a href="<{:url('index/index',array('t_id'=>$id))}>"><{:strtoupper($tag)}></a>&nbsp;&nbsp;
            			</volist>
            		</span>
            	</h5>
            	<h6 class="post-footer">
            		分类:<{$info.cate_name}> | 评论:<{$info->comments()->count()}> | 浏览:<span id="spn75"><{$info.view_num}></span>
            	    <br />
                    <!-- AD BEGIN -->
                    <br />
            		<div style="width:660px;" align="center">
            		</div>
                    <!-- AD END -->
                </h6>
            </div>
            
            <!-- 相关文章 -->
            <{:widget('Article/otherArticle',['info'=>$info])}>

            <ul  class="msg msghead">
                <li class="tbname">留言列表:</li>
            </ul>
            <volist name="info.comments" id="item">
                <ul class="msg" id="cmt<{$item.c_id}>">
                    <li class="msgname">
                        <img class="avatar" src="/static/home/images/default_user_avatar.png" alt="" width="32"/>&nbsp;
                        <span class="commentname">
                            <a href="javascript:void(0)" rel="nofollow" target="_blank">
                                <{$item.nick_name}>
                                <gt name="item.rev_cid" value="0">
                                   @&nbsp;<{$item.rev_nick_name}>     
                                </gt>  
                            </a>
                        </span><br/>
                        <small>
                            &nbsp;发布于&nbsp;<{$item.create_time}>&nbsp;&nbsp;
                            <span class="revertcomment">
                                <a href="#comment" onclick="RevertComment(<{$item.c_id}>)">回复该留言</a>
                            </span>
                        </small>
                    </li>
                    <li class="msgarticle"><{$item.content}></li>
                </ul>
            </volist>
            
            <!-- 发表留言 -->
           <{:widget('Comment/addComment',['aid'=>$info['a_id']])}>
        </div>
        <div id="divSidebar">
        
        <!-- 文章搜索表单 -->
        <{:widget('Article/searchForm')}>

        <!-- 最新留言 -->
        <{:widget('Comment/lastCommentList')}>


        </div>
        