<layout name="../application/home/layout/layout.html"/>

<body class="multi default">
<div id="divAll">
	<div id="divPage">
	<div id="divMiddle">
		
		<!-- 导航菜单 -->
		<include file="../application/home/view/public_navmenu.html" />

		<div id="divMain">
			<volist name="articleList" id="art">
			<div class="post multi-post cate4 auth1">
				<h4 class="post-date"><{$art.create_time}></h4>
				<h2 class="post-title"><a href="<{:url('index/article',array('id'=>$art.a_id))}>"><{$art.title}></a></h2>
				<div class="post-body"><p><{$art.summary}></p></div>
				<h5 class="post-tags">Tags: 
					<span class="tags">
						<volist name="art.tags" id="tag" key="tid">
						<a href="<{:url('index/index',array('t_id'=>$tid))}>"><{:strtoupper($tag)}></a>&nbsp;&nbsp;
						</volist>
					</span>
				</h5>
				<h6 class="post-footer">
					分类:<{$art.cate_name}> | 评论:<{$art->comments()->count()}> | 
					浏览:<span id="spn77"><{$art.view_num}></span>
					| <a href="<{:url('index/article',array('id'=>$art.a_id))}>">阅读全文 > </a>
				</h6>
			</div> 
			</volist>

		<div class="pagination"><{$page}></div>
		</div>
		<div id="divSidebar">
			<!-- 文章搜索表单 -->
        	<{:widget('Article/searchForm',['keyword'=>$keyword])}>
			
			<dl class="function" id="divTags">
				<dt class="function_t">按标签浏览</dt>
				<dd class="function_c">
					<ul>
						<volist name="tagList" id="tag">
							<li class="tag-name tag-name-size-2">
								<a href="<{:url('index/index',array('t_id'=>$tag['t_id']))}>"><{:strtoupper($tag.tag_name)}>
								<span class="tag-count"> (<{$tag->art_count}>)</span></a>
							</li>
						</volist>
					</ul>
				</dd>
			</dl>

			<!-- 最新留言 -->
       		<{:widget('Comment/lastCommentList')}>

			<dl class="function" id="divLinkage">
				<dt class="function_t">友情链接</dt>
				<dd class="function_c">
					<ul>
						<li>
							<a href="http://www.nszbk.com" target="_blank">逆时针博客</a>　
							<a href="http://www.mybiketimes.com/" target="_blank">单车岁月</a>　
							<a href="http://www.lopwon.com/" target="_blank">立云图志</a>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
		
		