<layout name="../application/home/layout/layout.html"/>

<body class="multi default">
<div id="divAll">
	<div id="divPage">
	<div id="divMiddle">
		
		<!-- 导航菜单 -->
		<include file="../application/home/view/public_navmenu.html" />

		<div id="divMain">
			<volist name="articleList" id="art">
			<div class="post multi-post cate4 auth1">
				<h4 class="post-date"><{$art.create_time}></h4>
				<h2 class="post-title"><a href="<{:url('index/article',array('id'=>$art.a_id))}>"><{$art.title}></a></h2>
				<div class="post-body"><p><{$art.summary}></p></div>
				<h5 class="post-tags">Tags: 
					<span class="tags">
						<volist name="art.tags" id="tag" key="tid">
						<a href="<{:url('index/index',array('t_id'=>$tid))}>"><{:strtoupper($tag)}></a>&nbsp;&nbsp;
						</volist>
					</span>
				</h5>
				<h6 class="post-footer">
					分类:<{$art.cate_name}> | 评论:<{$art->comments()->count()}> | 
					浏览:<span id="spn77"><{$art.view_num}></span>
					| <a href="<{:url('index/article',array('id'=>$art.a_id))}>">阅读全文 > </a>
				</h6>
			</div> 
			</volist>

		<div class="pagination"><{$page}></div>
		</div>
		<div id="divSidebar">
			<dl class="function" id="divSearchPanel">
				<dt class="function_t">搜索</dt>
				<dd class="function_c">
					<div>
					    <div style="padding:0.5em 0 0.5em 1em;">
					        <form method="post" action="<{:url('index/index')}>">
		                        <input type="text" name="keyword" value="<{$keyword|default=''}>" id="edtSearch" size="12"> 
		                        <input type="submit" value="提交" name="btnPost" id="btnPost">
		                    </form>
					    </div>
					</div>
				</dd>
			</dl>
			<dl class="function" id="divTags">
				<dt class="function_t">按标签浏览</dt>
				<dd class="function_c">
					<ul>
						<volist name="tagList" id="tag">
							<li class="tag-name tag-name-size-2">
								<a href="<{:url('index/index',array('t_id'=>$tag['t_id']))}>"><{:strtoupper($tag.tag_name)}>
								<span class="tag-count"> (<{$tag->art_count}>)</span></a>
							</li>
						</volist>
					</ul>
				</dd>
			</dl>
			<dl class="function" id="divComments">
				<dt class="function_t">最新留言</dt>
				<dd class="function_c">
					<ul>
						<volist name="commentList" id="item">
							<li style="text-overflow:ellipsis;">	
								<a href="javascript:void(0)" title="<{$item.create_time}> post by 卢松松博客"><{$item.content}></a>
							</li>
						</volist>
					</ul>
				</dd>
			</dl>
			<dl class="function" id="divLinkage">
				<dt class="function_t">友情链接</dt>
				<dd class="function_c">
					<ul>
						<li>
							<a href="http://www.nszbk.com" target="_blank">逆时针博客</a>　
							<a href="http://www.mybiketimes.com/" target="_blank">单车岁月</a>　
							<a href="http://www.lopwon.com/" target="_blank">立云图志</a>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="function" id="divMisc">
				<dt class="function_t">分享到：</dt>
				<dd class="function_c">
					<ul>
						<li><img src="images/weixin.jpg" height="110" width="110" border="0" alt="你我网微信公众平台" title="微信扫一扫，关注圈圈的最新消息。" /></li>
					</ul>
				</dd>
			</dl>
		</div>
		<div id="divBottom">
          <h3 id="BlogCopyRight">陕ICP备11002139号-1</h3>
			<h4 id="BlogPowerBy">Powered By <a href="http://www.rainbowsoft.org/" title="RainbowSoft Studio Z-Blog" target="_blank">Z-Blog</a>　本站遵循<a rel="license" target="_blank" title="署名-非商业性使用-禁止演绎 3.0 中国大陆许可协议" href="http://creativecommons.org/licenses/by-nc-nd/3.0/cn/"> CC BY-NC-ND 3.0 CN协议 </a>。</h4>
		</div><div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<!-- dd BEGIN -->
<script language="JavaScript1.2">
var typ=["marginTop","marginLeft"],rangeN=10,timeout=0; 
function shake(o,end){ 
	var range=Math.floor(Math.random()*rangeN); 
	var typN=Math.floor(Math.random()*typ.length); 
	o["style"][typ[typN]]=""+range+"px"; 
	var shakeTimer=setTimeout(function(){shake(o,end)},timeout); 
	o[end]=function(){clearTimeout(shakeTimer)}; 
} 
  </script>
<!-- dd END -->
</body>
</html><!-- 16ms -->