<div id="divBottom">
          <h3 id="BlogCopyRight"><{$siteInfo.site_coypright}></h3>
            <h4 id="BlogPowerBy">Powered By 
                <a href="javascript:void(0)" title="<{$siteInfo.site_name}>" target="_blank"><{$siteInfo.site_name}></a>　
                本站遵循<a rel="license" target="_blank" title="署名-非商业性使用-禁止演绎 3.0 中国大陆许可协议" href="http://creativecommons.org/licenses/by-nc-nd/3.0/cn/"> CC BY-NC-ND 3.0 CN协议 </a>。</h4>
        </div><div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>