<layout name="../application/common/layout/index.html"/>

<div class="admin-main">
	<blockquote class="layui-elem-quote">
		<a href="javascript:;" class="layui-btn layui-btn-small form" data-url="<{:url('add',array('type'=>$type))}>" data-title="添加菜单">
			<i class="layui-icon">&#xe608;</i> 添加菜单
		</a>
		<a href="javascript:;" class="layui-btn layui-btn-small" id="delSelect">
			<i class="layui-icon">&#xe640;</i> 删除选中
		</a>
		<a href="javascript:;" class="layui-btn layui-btn-small" id="updateMenuUrl" data-url="<{:url('updateMenuUrl')}>">
			<i class="layui-icon">&#x1002;</i> 更新菜单链接
		</a>
		<eq name="type" value="0">
		<a href="javascript:;" class="layui-btn layui-btn-small" id="createNav" data-url="<{:url('createNav')}>">
			<i class="layui-icon">&#x1002;</i> 创建菜单
		</a>
		</eq>
	</blockquote>
	<fieldset class="layui-elem-field">
		<legend>菜单列表</legend>
		<div class="layui-field-box">
			<form action="<{:url('delSelect')}>" method="post" id="delSelectForm">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="selected-all"></th>
							<th>菜单名称</th>
							<th>链接URL</th>
							<th>状态</th>
							<th>排序(降序)</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="menu">
						<tr>
							<td><input type="checkbox" value="<{$menu.m_id}>" name="id[]"></td>
							<td style="text-align:left"><{$menu.menu_name}></td>
							<td><{$menu.url}></td>
							<td><{$menu.status | status_icon }></td>
							<td><{$menu.sort}></td>
							<td>
								<a href="javascript:;" data-url="<{:url('edit',array('id'=>$menu['m_id']))}>" class="layui-btn layui-btn-mini form">编辑</a>
								<a href="javascript:;" data-url="<{:url('del',array('id'=>$menu['m_id'],'page'=>$Think.get.page))}>"  class="layui-btn layui-btn-danger layui-btn-mini del">删除</a>
							</td>
						</tr>
						<volist name="menu.children" id="item">
							<tr>
								<td><input type="checkbox" value="<{$item.m_id}>" name="id[]"></td>
								<td style="text-align:left">&nbsp;&nbsp;|_&nbsp;<{$item.menu_name}></td>
								<td><{$item.url}></td>
								<td><{$item.status | status_icon }></td>
								<td><{$item.sort}></td>
								<td>
									<a href="javascript:;" data-url="<{:url('edit',array('id'=>$item['m_id']))}>" class="layui-btn layui-btn-mini form">编辑</a>
									<a href="javascript:;" data-url="<{:url('del',array('id'=>$item['m_id'],'page'=>$Think.get.page))}>"  class="layui-btn layui-btn-danger layui-btn-mini del">删除</a>
								</td>
							</tr>
						</volist>
						</volist>
					</tbody>
				</table>
			</form>
		</div>
	</fieldset>
</div>
<script>	
window.onload = function(){

layui.use(['layer'], function() {
	var $ = layui.jquery,
		layer = parent.layer === undefined ? layui.layer : parent.layer;

	//创建导航菜单
	$('#createNav,#updateMenuUrl').on('click',function(){ 

		$.get(this.dataset.url, function(data) {
			
			if(typeof data == 'string'){

				data = JSON.parse(data);
			}

			layer.msg(data.msg);

			if(data.error == 0){

				location.reload(true);
			}
		});
	})
});
}
</script>