<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理员列表页</title>
		<link rel="stylesheet" href="__STATIC__/admin/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__STATIC__/admin/css/global.css" media="all">
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="__STATIC__/admin/css/table.css" />
		<script type="text/javascript">
			var ADMIN_STATIC_URL = "__STATIC__/admin/";
		</script>
		<script type="text/javascript" src="__STATIC__/admin/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="__STATIC__/admin/js/page.common.js"></script>
	</head>
	<body>