<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理员列表页</title>
		<link rel="stylesheet" href="<{$Think.ADMIN_STATIC_URL}>plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="<{$Think.ADMIN_STATIC_URL}>css/global.css" media="all">
		<link rel="stylesheet" type="text/css" href="<{$Think.ADMIN_STATIC_URL}>css/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="<{$Think.ADMIN_STATIC_URL}>css/table.css" />
		<script type="text/javascript">
			var ADMIN_STATIC_URL = "<{$Think.ADMIN_STATIC_URL}>";
		</script>
		<script type="text/javascript" src="<{$Think.ADMIN_STATIC_URL}>plugins/layui/layui.js"></script>
		<script type="text/javascript" src="<{$Think.ADMIN_STATIC_URL}>js/page.common.js"></script>
	</head>
	<body>